main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px 20px 50px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;  
}

.card {
  aspect-ratio: 3/4;
  background-color: #ccc;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.reveal-card {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813a;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back.png');
  backface-visibility: hidden;
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.game-form {
  padding-top: 24px;
}

.game-form button {
  background-color: #ee665c;
  padding: 15px;
  border-radius: 8px;
  color: #FFF;
  cursor: pointer; 
  font-size: 1em; 
  max-width: 200px;
  width: 100%;
}
