.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  
  .loading label {
    font-size: 24px;
  }
  
  .centralize {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  .clear {
    background: transparent;
    border: none;
    color: white;
  }
  .clear:disabled {
    background: transparent;
    border: none;
    color: rgb(15, 116, 55);
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .solid {
    background: transparent;
    border: none;
    color: white;
  }
  
  .solid:disabled {
    background: transparent;
    border: none;
    color: rgb(15, 116, 55);
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .outline {
    background: transparent;
    color: white;
    border: 1px solid white;
  }
  
  .error {
    color: red;
    display: none;
    font-weight: bold;
  }