main {
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px 20px 50px;
}

.back-button {
  background-color: #ee665c;
  padding: 15px;
  border-radius: 8px;
  color: #FFF;
  cursor: pointer; 
  font-size: 1em; 
  max-width: 300px;
  width: 100%;
  margin-bottom: 32px;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around  ;
  align-items: center;
  padding: 15px;
  background-color: #5cee63;
  width: 300px;
  border-radius: 8px;
  color: #FFF;
}

.identificators span {
  margin-bottom: 10px;
}